* {
    box-sizing: border-box;
    font-family: 'Montserrat';
}
.mon {
    text-decoration: line-through;
}
 .main h1{
   width: 180px;
   height: 44px;
   top: 64.06px;
   left:240px;

 }
 .main h3{

   height:21px;
   top:159.06px;
   left:239px;

 }

.check {
    display: flex;
}

.change {
    display: flex;
}

div.right {
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 18px;
    border-radius: 10px;
    height: 535px;
    width: 383px;
    margin: 80px;
    top: 10px;

}


input {
    border:solid #fff;

}
div.q{
  height: 45px;
  width: 465px;
  border-radius: 12px;

  padding-left: 12px;
  border: 1px solid #828282;

}
div.q:hover{
  border: 1px solid #FFD700;


}
div.qq{
  height: 45px;
  width: 228px;
  border-radius: 12px;
  display: flex;

  padding-left: 12px;
  border: 1px solid #828282;


}
input::placeholder{
  font-size:16px;
}

div.qq input::placeholder{
 text-align: left;
}
div.qq:hover{
  border: 1px solid #FFD700;


}

div.qq i{
  align:left;
}
br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 19%;
}


input {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-size: 20px;
}

input:hover
{
  border:solid #fff;
}

div.do {
    padding: 30px;
}

div.do p{
  color: #4E5150;
  width: 162.52px;
  height: 22.21px;
}
.btn{
  width:140px;
  height:40px;
  position: relative;
  display:flex;
}

.btn button{
  background:#828282;
  border:none;
  padding: 10px 18px;
  font-size: 12px;
    height: 30px;
    width: 200px;
  color: white;
  cursor:pointer;
  outline: none;
  box-shadow: 0px 5px 5px rgb(145, 145, 145);

}

.minusbtn,.plusbtn{
  display: none;

  font-weight: 700;
  font-size: 3rem;
}
}
.btn1{
  width:140px;
  height:40px;
  position: relative;
  display:flex;
}

.btn button1{
  background:#828282;
  border:none;
  padding: 10px 18px;
  font-size: 12px;
    height: 30px;
    width: 200px;
  color: white;
  cursor:pointer;
  outline: none;
  box-shadow: 0px 5px 5px rgb(145, 145, 145);

}

.minusbtn1,.plusbtn1{
  display: none;

  font-weight: 700;
  font-size: 3rem;
}


label {
    color: #4F4F4F;
    font-size: 15px;
}

table {
    width: 100%;

}

div.table {
    margin-top: 50px;
}

td.ship {
    border-top: 1px solid rgb(162, 162, 162);
    padding: 12px;
    font-variant: small-caps;
}

.main {
    margin: 50px;
}

img {
    margin: 8px;
    border-radius: 8px;
}

button {
    width: 210px;
    height: 50px;
    text-align: centre;
    background-color: coral;
    border-radius: 8px;
    border-color: coral;
    cursor: pointer;
    outline: none;
}
i {
    margin: 5px;
    color: rgb(188, 188, 188);
}
@media screen and(max-width: 480px) {
    .check{
        flex-direction: vertical;
        justify-content: center;
    }
    div.right {
        width: 350px;
        height: 489px;
    }
    div.main {
        width : 350px;
    }
    input {
        width : 348px;
        height : 40px;
    }

}
